<%- include('includes/head', { pageTitle: 'An error occurred!' }) %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Something went wrong!</h1>
        <p>Please try again later!</p>
        <p><a href="/" class="btn">Back to Home</a></p>
    </main>