<%- include('includes/head', { pageTitle: 'An error occurred!' }) %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Unauthorised Access/h1>
        <p>You are not allowed to access this page!</p>
        <p><a href="/" class="btn">Back to Home</a></p>
    </main>