<%- include('includes/head', { pageTitle: 'An error occurred!' }) %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Resource not found</h1>
        <p>Unfortunately, we couldn't find the requested resource!</p>
        <p><a href="/" class="btn">Back to Home</a></p>
    </main>