<header id="main-header">
    <div id="logo"><a href="/">AutoParts</a></div>
    <nav>
        <%- include('navItems') %>
    </nav>
    <button id="mobile-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>
<aside id="mobile-menu">
    <nav>
        <%- include('navItems') %>
    </nav>
</aside>